.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#content {
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    position: fixed;
    top: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid navy;
}

#rightLabelCenter,#leftLabelCenter{
	-ms-grid-row:1;
	-ms-grid-column:1;
	display:-ms-grid;
	-ms-grid-rows:1fr 1fr 1fr;
	-ms-grid-columns:1fr;
	margin: 10px 4px 352px -1px;
	-ms-grid-row-span: 2;
}

#formBackgnd {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    display: -ms-grid;
    -ms-grid-columns: 400px 400px;
    -ms-grid-rows: 1fr;
    height: 40px;
    width: 840px;
}

#startControl, #endControl {
    display: -ms-grid;
    -ms-grid-columns: 100px 1fr 5px;
    -ms-grid-rows: 35px 365px;
}

#startControl {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#endControl {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin: 1.18px -28.2px -1.18px 28.2px;
}

#firstFormLbl, #sndFormLbl {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    
}

#endLoc{
	margin-left:-5px;
}

#startLoc, #endLoc {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

#startVal, #endVal {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

#endSearchResultList, #startSearchResultList, #endSearchResultTemplate, #startSearchResultTemplate {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

 #endSearchResultTemplate, #startSearchResultTemplate {
    height: 5px;
    width: 310px;     
 }

#endSearchResultList, #startSearchResultList {
    margin-top: 5px;
    margin-left: -6px;
    width: 310px;
    height: 365px;    
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
