<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="3e53a469-4019-4682-82a8-1dad69748c5a" Version="1.0.0.0" Publisher="CN=annon" />
  <Properties>
    <DisplayName>TrafficInfo</DisplayName>
    <PublisherDisplayName>annon</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Kiwi Traffic" Logo="images\ryanlerch_Warning_Sheep_Roadsign (1).png" SmallLogo="images\ryanlerch_Warning_Sheep_Roadsign (2).png" Description="Kiwi Traffic" ForegroundText="light" BackgroundColor="#000000">
        <LockScreen Notification="badgeAndTileText" BadgeLogo="images\ryanlerch_Warning_Sheep_Roadsign (3).png" />
        <DefaultTile ShowName="allLogos" WideLogo="images\ryanlerch_Warning_Sheep_Roadsign (w).png" />
        <SplashScreen Image="images\SH20A_And_Kirkbride_Road_IntersectionSplash.jpg" BackgroundColor="#1A1A1A" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAjktqSXS3XAKOKJ53MbzpXg05ygQfvpE&amp;sensor=true" Type="include" />
      </ApplicationContentUriRules>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.backgroundTasks" StartPage="Task\UpdateTileTask.js">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="enterpriseAuthentication" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>