.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

:not(.searchItem).win-listview .win-selected.win-container .win-selectionborder {
   border-bottom-color: rgb(70, 23, 180);
   border-left-color: rgb(70, 23, 180);
   border-right-color: rgb(70, 23, 180);
   border-top-color: rgb(70, 23, 180);
}

.win-container.searchItem .win-container.win-selected.win-selectionborder {
    border-bottom-color:red;
    border-left-color: red;
    border-right-color: red;
    border-top-color: red;
}

#searchItem {
    height: 40px;
}

#mapDiv {
    position: relative;
    height: 90%;
}

#searchResultList {
    width: 200px;
    height: 40%;
    top: 300px;
    left:120px;
    float: left;
}

.pagetitle {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid navy;
}